.game .banner .bg-overlay {
    height: 100%;
    background-color: #222831a8;
    position: relative;
    top: 0;
    left: 0;
}
.game .bg-overlay .game-title{
    font-size: 2.2em;
    font-weight: bold;
}

.game-title{
    font-size: 1.5em;
    font-weight: 600;
}

.game .content{
    height: 100%;
}
.game .content .game-cover{
    min-width: 230px;
    height: 310px;    
}
.game .content .game-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.game .content .log{
    max-width: 230px !important;
}
.game .content .game-info{
    height: 100%;
}